@import "tailwindcss";

@theme {
  --color-primary-color: var(--primary-color);
  --color-default-black: var(--default-black);
}

:root{
  --primary-color: #1851ee;
  --default-black: #0e0d0de0;
}

body{
  @apply text-default-black
}

/* Navbar styling */

.navbar{
  @apply text-[1.2rem] font-medium flex justify-between items-center px-3 py-5 lg:px-20 z-1000 absolute w-full;
}

.logo{
  @apply text-[2rem] font-extrabold bg-linear-to-r from-primary-color to-[#4f8cff] bg-clip-text text-transparent;
  /* font-size: clamp(1.5rem, 2em, 2.5rem); */
}

.nav-link{
  @apply hidden lg:flex *:hover:text-primary-color *:hover:transition *:hover:delay-150 justify-between w-100
}

.icon{
  @apply hover:text-primary-color hover:transition hover:delay-150
}

.login-btn{
  @apply transition delay-150 hover:border-primary-color hover:text-primary-color border border-default-black px-6 py-1 md:px-8 md:py-3 rounded cursor-pointer
}

/* End of Navbar styling */