@import "tailwindcss";

body{
  color: #0e0d0de0;
  /* filter: drop-shadow(0 0 6px rgba(82, 131, 238, 0.658)) */
}

.navbar{
  @apply text-[1.2em] font-medium flex justify-between items-center px-20 py-5;
}

.logo{
  @apply text-3xl font-extrabold bg-gradient-to-r from-[#1851ee] to-[#4f8cff] bg-clip-text text-transparent
}

.nav-link{
  @apply flex *:hover:text-[#1851ee] *:hover:transition *:hover:delay-150 justify-between w-[20em]
}
/* .secondary-btn{
  @apply hover:border-[#1851ee] hover:text-[#1851ee];
} */

.icon-link{
  @apply hover:text-[#1851ee] hover:transition hover:delay-150
}

.login-btn{
  @apply transition delay-150 hover:border-[#1851ee] hover:text-[#1851ee] border border-[#0e0d0de0] px-8 py-3 rounded
}