@import "tailwindcss";

@theme {
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-default-black: var(--default-black);
  --color-hover: var(--primary-hover);
}

:root{
  --primary-color: #1a53ff;
  --secondary-color: #4f8cff;
  --primary-hover: #99b3ff;
  --default-black: #0e0d0de0;
}

body{
  @apply text-default-black
}

/* Navbar styling */

.navbar{
  @apply text-[1.2rem] font-medium flex justify-between items-center px-3 py-5 lg:px-20 z-10 w-full text-white;
}

.logo{
  @apply text-[2rem] font-extrabold bg-linear-to-r from-primary-color to-[#4f8cff] bg-clip-text text-transparent;
  /* font-size: clamp(1.5rem, 2em, 2.5rem); */
}

.nav-link{
  @apply hidden lg:flex *:hover:text-hover *:hover:transition *:hover:delay-150 justify-between w-100
}

.icon{
  @apply hover:text-hover hover:transition hover:delay-150
}

.btn{
  @apply px-6 py-3 border text-white border-white md:px-8 md:py-3 rounded-md cursor-pointer transition delay-150 
}

.login-btn{
  @apply transition delay-150 hover:border-hover hover:text-hover px-6 py-1 md:px-8 md:py-3 rounded-md cursor-pointer border
}

/* End of Navbar styling */